{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>UniControl</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>

    {% include "base/navbar.html" %}

    <div class="container">

        {% include "base/sidebar.html" %}

        <main class="content">

            {% block content %}
            {% endblock %}

        </main>

    </div>

    {% include "base/footer.html" %}

</body>

</html>