<aside>

    <ul>

        <li>
            <a href="{% url 'dashboard' %}">
                🏠 Dashboard
            </a>
        </li>

        <li>
            <a href="{% url 'home_list' %}">
                🏡 Homes
            </a>
        </li>

        <li>
            <a href="#">
                🚪 Rooms
            </a>
        </li>

        <li>
            <a href="#">
                📺 Devices
            </a>
        </li>

        <li>
            <a href="#">
                🤖 Automation
            </a>
        </li>

        <li>
            <a href="#">
                📅 Schedules
            </a>
        </li>

        <li>
            <a href="#">
                🔔 Notifications
            </a>
        </li>

        <li>
            <a href="#">
                📊 Logs
            </a>
        </li>

        <li>
            <a href="{% url 'profile' %}">
                👤 Profile
            </a>
        </li>

        <li>
            <a href="{% url 'logout' %}">
                🚪 Logout
            </a>
        </li>

    </ul>

</aside>