{% extends 'base/base.html' %}

{% block content %}

<h1>Dashboard</h1>

<div class="cards">

    <div class="card">
        <h3>Total Devices</h3>
        <p>0</p>
    </div>

    <div class="card">
        <h3>Online Devices</h3>
        <p>0</p>
    </div>

    <div class="card">
        <h3>Offline Devices</h3>
        <p>0</p>
    </div>

    <div class="card">
        <h3>Homes</h3>
        <p>0</p>
    </div>

    <div class="card">
        <h3>Rooms</h3>
        <p>0</p>
    </div>

    <div class="card">
        <h3>Automations</h3>
        <p>0</p>
    </div>

</div>

{% endblock %}